<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizarre.lol">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:theme="@style/MainLayoutTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".CampusMap"
            android:theme="@style/NewActivitesTheme" />


        <activity android:name=".Developers"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".Team"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".AboutUs"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".FAQs"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".Sponsors"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".Schedule"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".Instructions"
            android:theme="@style/NewActivitesTheme" />
        <activity android:name=".RegisterNow"
            android:theme="@style/NewActivitesTheme" />
        <activity
            android:name=".ExpandedScreen"
            android:theme="@style/NewActivitesTheme"> </activity>


        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>